<div class="container--title">
    <span class="container__title">
      <mat-icon>add_circle_outline</mat-icon>
      <span class="__title">Edit Client</span>
    </span>
    <h4>Update a client.</h4>
  </div>
  <div class="container--title__subtitle">
    <h2>Fill the formulary.</h2>
  </div>
  <div class="container--form">
    <form [formGroup]="formCad">
      <div class="container--form--2elementos">
        <mat-form-field>
          <input formControlName="nome" matInput placeholder="Name" name="nome" />
        </mat-form-field>
        <span style="width: 50%"></span>
        <mat-form-field>
          <input
            matInput
            formControlName="email"
            placeholder="Email"
            name="email"
            type="email"
          />
        </mat-form-field>
      </div>
  
      <div class="container--form--2elementos">
        <mat-form-field>
          <input
            matInput
            placeholder="Last Name"
            formControlName="sobrenome"
            name="sobrenome"
          />
        </mat-form-field>
        <span style="width: 50%"></span>
  
        <mat-form-field>
          <mat-select formControlName="genero" name="genero" placeholder="Gender">
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      
  
      <div class="container--form--2elementos--menor">
        <mat-form-field>
          <input
            matInput
            placeholder="CPF"
            formControlName="cpf"
            name="cpf"
            [textMask]="{ mask: MASKS.cpf.textMask }"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Birth Date"
            formControlName="dataNascimento"
            name="dataNasc"
            type="date"
          />
          
        </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            placeholder="Phone"
            formControlName="telefone"
            name="telefone"
            [textMask]="{ mask: MASKS.telefone.textMask }"
          />
        </mat-form-field>
      </div>
  
      <div class="container--form--2elementos--menor">
        <mat-form-field>
          <input
            matInput
            placeholder="UF"
            formControlName="uf"
            name="uf"
            maxlength="2"
            minlength="2"
          />
        </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            placeholder="City"
            formControlName="cidade"
            name="cidade"
          />
        </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            placeholder="CEP"
            formControlName="cep"
            name="cep"
            [textMask]="{ mask: MASKS.cep.textMask }"
          />
        </mat-form-field>
      </div>
      <div class="container--form--1elemento">
        <mat-form-field>
          <input
            matInput
            placeholder="Adress"
            formControlName="endereco"
            name="endereco"
          />
        </mat-form-field>
      </div>
      <div class="container--form--1elemento">
        <button
          *ngIf="!formCad.invalid"
          (click)="obBtnUpdateClick()"
          mat-raised-button
          style="background-color: #f39c12; color: white"
        >
          <mat-icon>add</mat-icon> Edit
        </button>
  
        <button *ngIf="formCad.invalid" disabled mat-raised-button>
          <mat-icon>add</mat-icon> Edit
        </button>
      </div>
    </form>
  </div>