<div class="login--container">
  <mat-card class="--card">
    <mat-card-content>
      <div class="--logo">
        <img src="assets/logoProt2.jpg" />
      </div>
        <form [formGroup]="loginFormGroup" class="--inputs">
          <mat-form-field>
            <input formControlName="usuario" matInput placeholder="Usuario" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="senha" matInput placeholder="Senha" />
          </mat-form-field>

          <span style="display: flex; flex-direction: row; align-items: baseline;">
            <label>Esqueceu sua senha?</label>
            <span style="margin-left: auto">
              <button *ngIf="!loginFormGroup.invalid"
                mat-raised-button
                class="btn__Login"
                (click)="btnLoginCLick()"
              >
                Login
              </button>
              <button *ngIf="loginFormGroup.invalid"
                mat-raised-button
                class="btn__Login"
                disabled=""
              >
                Login
              </button>
            </span>
          </span>
        </form>
      <div class="--btnLogin"></div>
    </mat-card-content>
  </mat-card>
</div>
