.container--principal{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.__InputPesquisa{
    display: flex;
    justify-content: space-around;

    // small{
    //     text-decoration: underline;
    //     color: #006deb;
    //     cursor: pointer;
    // }
}