<div>
  <!-- <div class="clienteInfo--buttons">
    <app-botoes-info></app-botoes-info>
  </div> -->
  <div class="clienteInfo--container">
    <img src="assets/avatar.png" style="width: 200px; height: 200px" />
  </div>
  <div class="clienteInfo--container">
    <h2>{{ cliente.nome }} {{ cliente.sobrenome }}</h2>
  </div>

  <form [formGroup]="clienteFormGroup">
    <div class="clienteInfo--container">
      <mat-form-field>
        <input
          matInput
          readonly
          formControlName="nome"
          placeholder="Name"
          name="nome"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          readonly
          formControlName="email"
          placeholder="E-mail"
          name="email"
        />
      </mat-form-field>
    </div>
    <div class="clienteInfo--container">
      <mat-form-field>
        <input
          formControlName="sobrenome"
          matInput
          readonly
          placeholder="Last Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="genero"
          matInput
          readonly
          placeholder="Gender"
        />
      </mat-form-field>
    </div>
    <div class="clienteInfo--container">
      <mat-form-field>
        <input
          [textMask]="{ mask: MASKS.cpf.textMask }"
          formControlName="cpf"
          matInput
          readonly
          placeholder="CPF"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          readonly
          formControlName="endereco"
          placeholder="Adress"
        />
      </mat-form-field>
    </div>
    <div class="clienteInfo--container">
      <mat-form-field>
        <input
          type="date"
          readonly
          matInput
          formControlName="dataNascimento"
          placeholder="Birth Date"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [textMask]="{ mask: MASKS.cep.textMask }"
          formControlName="cep"
          readonly
          placeholder="CEP"
        />
      </mat-form-field>
    </div>
  </form>
</div>
