.clienteInfo--buttons {
  display: flex;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
  margin: 2% 0% 2% 0%;
}

@media only screen and (max-device-width: 500px) {
  .clienteInfo--buttons {
    display: flex;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0% 0% 2% 0%;

  }
}
