<mat-toolbar *ngIf="isLogged">
  <button routerLink="produto/" mat-icon-button matTooltip="Home">
    <mat-icon>home</mat-icon>
  </button>
  <button
    *ngIf="cliente!.id == 1"
    mat-button
    style="height: 100%"
    routerLink="cliente/lista"
  >
    Clients
  </button>

  <span style="margin-left: auto">
    <button mat-icon-button matTooltip="Account" routerLink="cliente/">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="logOut()"
      routerLink="login"
      matTooltip="Login"
    >
      <mat-icon>login</mat-icon>
    </button>
  </span>
</mat-toolbar>
